p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}

p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}

p{
	color: red;
	background: purple;
}
p{
	color: red;
	background: purple;
}
